body {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #562349;
    line-height: 2;
}

h2 {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: #562349;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

p {
    line-height: 2;
}

.recipe {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 400px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 400px;
    bottom: 300px;
}

.chef {
    width: 250px;
    height: 200px;
    margin: 60px auto 20px auto;
}

.top-container {
    background-color: #FFA299;
    padding: 100px 100px 50px;
    position: relative;
}

.profile-pic1 {
    border-radius: 50%;
    height: 350px;
}

.ucook {
    margin: 0;
    font-family: none;
    font-size: 20px;
}

hr {
    border: 5px dotted #11999E;
    border-bottom: none; 
    color: #11999E; 
    background-color: #fff;
    width: 4%;
    margin: 105px auto;
}

.middle-container {
    margin: 100px 0;
}

.intro {
    width: 30%;
    margin: auto;
}

.skill-row { 
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.gaming-image {
    width: 150px;
    float: left;
    margin-right: 30px;
    border-radius: 10px;
}

.recipe-writing {
    margin: 0;
    font-family: none;
    font-size: larger;
}

.chef-image {
    width: 150px;
    float: right;
    margin-left: 30px;
}

.experience {
    text-align: center;
    padding: 100px 20px 50px;
}

.bottom-container {
    background-color: #AD6989;
    text-decoration: none;
    color: #EAF6F6;
    padding: 40px 0 20px;
}

.chat {
    margin: 30px auto 40px;
    font-size: 15px;
}

.btn {
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    height: 22px;
    line-height: 22px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    width: 200px;
    font-size: 23px;
    padding: 25px;
    background-color: #D597CF;
    border: solid #FFFFFF 0;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    background: #F5B0CB;
    border: solid #337FED 0;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;  
    text-decoration: none;
}

a {
    color: #FFA299;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
}

a:hover {
    color: #edc9d7;
}

.trademark {
    font-size: 0.75rem;
    padding: 10px 0;
}